<div class="params">
  {{#each params}}
    <div class="param">
      <input data-min="{{minValue}}" data-max="{{maxValue}}" data-name="{{name}}" value="{{value}}" />
      <p>{{name}}</p>
    </div>
  {{/each}}
</div>
