<div class="row">
  {{#if query}}
    <h2>Results for {{query}}</h2>
  {{else}}
    <h2>Recent packages</h2>
  {{/if}}
  <ul class="nav nav-tabs nav-stacked">
    {{#each packages}}
      <li><a href="#" data-id="{{id}}" data-name="{{name}}">{{name}} - {{description}}</a></li>
    {{/each}}
  </ul>
</div>
